$color-base: #101010; // overwritten by props in ./index.js
$color-accent: #e52354; // overwritten by props in ./index.js

$time: 3s; // overwritten by props in ./index.js

$width-loader: 9rem; // overwritten by props in ./index.js for SVG, for CSS, use scale
$width-loader-spot: $width-loader / 5;

.oclock-css {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  min-height: $width-loader * 2;
  padding: 1rem;
  width: 100%;

  &__ring {
    border: ($width-loader / 4) solid $color-base;
    border-radius: 50%;
    height: $width-loader;
    position: absolute;
    transition: 0.5s;
    width: $width-loader;
    z-index: 0;
  }

  &__spot {
    animation: orbit $time linear infinite;
    background-color: $color-accent;
    border: ($width-loader-spot / 4) solid $color-base;
    border-radius: 50%;
    height: $width-loader-spot;
    left: 50%;
    margin-left: (-1 * $width-loader-spot) / 2;
    margin-top: (-1 * $width-loader-spot) / 2;
    position: absolute;
    top: 50%;
    width: $width-loader-spot;
  }
}

.oclock-svg {
  animation: rotation $time linear infinite;
  height: $width-loader;
  margin: 3rem auto;
  transform-origin: center center;
  width: $width-loader;

  > svg {
    height: 100%;
    width: 100%;
  }
}

@keyframes orbit {
    from { transform: rotate(-180deg) translateY($width-loader / 2);}
    to { transform: rotate(180deg) translateY($width-loader / 2);}
}

@keyframes rotation {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}
